/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/02/2017, 13:57:22
    Author     : mario
*/

.navbar-verde
{
    background-color: #6cbe4f;
    border-color: #6cbe4f;
}

.navbar-right li a{
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
}

.navbar-right li a:hover{
    color: #dd4448 !important;
}
.navbar-right li.active a{
    background-color: #6cbe4f !important;
}

